html{
    min-width: 1100px;
}
a:hover{
    opacity: .8;
}
.head{
    padding: 0 60px;
    border-bottom: 1px solid #e5e6e6;
}
.head-right{
    float: right;
}
.logo{
    position: relative;
    display: block;
    width: 130px;
    height: 56px;
    line-height: 56px;
    padding-left: 35px;
    font-family: '黑体';
    font-size: 21px;
    text-decoration: none;
    color: #393a3a;
}
.logo img{
    position: absolute;
    left: 0;
    top: 13px;
}
.head-right a{
    color: #787b83;
    font-size: 14px;
    text-decoration: none;
    line-height: 52px;
    display: inline-block;
    width: 75px;
    text-align: center;
}
.head-right a.active{
    color: #e74f4d;
    border-bottom: 5px solid #e74f4d;
}
.head-right a.btn{
    color: #e74f4d; 
}
.head-right a.btn:hover{
    border-width: 0; 
}
.head-right a:hover{
    color: #e74f4d;
    border-bottom: 5px solid #e74f4d;
}
.head-right a.btn{
    padding-left: 15px;
    background: url(../img/icon-2.jpg) no-repeat 20px 17px;
}
.banner{
    position: relative;
    height: 690px;
    background: url(../img/pic01.jpg) no-repeat left top;
    background-size: cover;
}
.banner-text{
    position: absolute;
    top: 220px;
    left: 115px;
}
.banner-text h2{
    color: #ffffff;
    font-size: 60px;
    line-height: 1.5;
    margin: 0;
}
.banner-text p{
    color: #fffdfd;
    font-size: 21px;
    margin:0;
}
.banner-text a{
    display: block;
    margin-top: 60px;
    width: 330px;
    height: 65px;
    line-height: 65px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #e74f4d;
}
.list{
    margin: 0;
    padding: 45px 0 65px;
}
.list li{
    width: 25%;
    float: left;
    padding-top: 80px;
    position: relative;
}
.list li.quan{
    background: url(../img/icon-3.jpg) no-repeat center top;
}
.list li.qi{
    background: url(../img/icon-4.jpg) no-repeat center top;
}
.list li.hua{
    background: url(../img/icon-5.jpg) no-repeat center top;
}
.list li.zheng{
    background: url(../img/icon-6.jpg) no-repeat center top;
}
.list li i{
    width: 2px;
    height: 50px;
    background-color: #aaaaaa;
    position: absolute;
    bottom: -5px;
    right: 0;
}
.list p{
    width: 155px;
    text-align: center;
    color: #767777;
    font-size: 14px;
    margin:0 auto;
    line-height: 1.5;
    font-family: '黑体';
}
.clear{
    clear: both;
    height: 0;
    overflow: hidden;
    zoom: 1;
}
.session2{
    padding: 230px 0 76px;
    background-color: #ededec;
    background:#ededec url(../img/icon-1.png) no-repeat center 90px;
}
.session2 h2{
    color: rgba(50, 51, 51, .5);
    font-size: 54px;
    margin: 0;
    text-align: center;
    font-family: '黑体';
    font-weight: normal;
    line-height: 1;
}
.select{
    height: 340px;
    background:url(../img/pic02.jpg) no-repeat left top;
    background-size: cover;
}
.select .top{
    text-align: center;
    color: #ffffff;
    padding: 40px 0;
}
.select .top h2{
    font-size: 21px;
    font-weight: normal;
    margin: 0;
}
.select .top p{
    font-size: 12px;
}
.select .main{
    width: 1030px;
    margin: 0 auto;
}
.select .select-dom {
    float: left;
    position: relative;
    cursor: pointer;
    margin-right: 28px;
}
.select-dom input{
    border: 1px solid #bf746d;
    padding: 5px;
    height: 24px;
    font-size: 12px;
    color: #a8aaaa;
    width: 230px;
}
.select-dom span{
    position: absolute;
    width: 20px;
    height: 18px;
    right: 5px;
    top: 5px;
    background: url(../img/icon-8.png) no-repeat left top;
}
.select-dom ul{
    margin: 0;
    padding: 0;
    width: 240px;
    position: absolute;
    border: 1px solid #bf746d;
    background: #e3e2e4;
    border-top-width: 0;
    display: none;
}
.select-dom.active ul{
    display: block;
}
.select-dom li{
    line-height: 25px;
    padding-left: 30px;
    color: #323333;
    font-size: 12px;
    border-collapse: collapse;
    
    border-bottom: 1px solid transparent;
}
.select-dom li.active{
    color: #ffffff;
    background: #be4e48 url(../img/swosh.png) 8px 8px no-repeat;
    border-color:  #d8b4b4;
}
.select-dom li:hover{
    color: #ffffff;
    background: #be4e48 url(../img/swosh.png) 8px 8px no-repeat;
    border-color:  #d8b4b4;
}
.select-dom li:last-child:hover{
    border-color:  transparent;
}
.select a{
    display: block;
    margin-left: 794px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    background-color: #be4e48;
    letter-spacing: 2em;
    text-indent: 1em;
}
.photo{
    width: 986px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 0;
}
.photo ul{
    margin: 0 0 0 -27px;
}
.photo li{
    float: left;
    width: 216px;
    margin-left: 27px;
}
.photo h4{
    font-size: 14px;
    color: #333333;
    margin: 0;
    line-height: 1.5;
}
.photo h3{
    font-size: 16px;
    color: #333333;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 2em;
    text-indent: 1em;
}
.photo p{
    color: #666666;
    font-size: 12px;
    margin: 0;
}
.swiper .right{
    float: right;
    width: 290px;
    height: 285px;
    padding: 155px 70px 125px;
    font-family: '宋体';
    position: relative;
}
.swiper .left{
    color: #ffffff;
    height: 305px;
    padding: 120px 0 140px;
    margin-right: 430px;
    background: url(../img/pic07.jpg) no-repeat left top;
    background-size: cover;
    text-align: center;
    position: relative;
}
.swiper .left h3{
    margin: 0;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}
.swiper .left h2{
    margin: 0;
    font-size: 158px;
}
.swiper .left p{
    font-size: 22px;
}
.swiper .right h2{
    
    text-align: center;
    font-size: 22px;
    margin: 0;
    font-weight: normal;
}
.swiper .right h2 span{
    color: #be4e48;
}
.swiper .right p{
    font-size: 12px;
    color: #aaaaaa;
    line-height: 2;
}
.swiper .right a{
    display: block;
    margin: 40px auto 5px;
    width: 105px;
    color: #e25c60;
    font-size: 12px;
    line-height: 2.5;
    padding:0 10px; 
    text-align: center;
    border: 1px solid #e46669;
    text-decoration: none;
}
.indicators{
    position: absolute;
    width: 290px;
    bottom: 135px;
    left: 70px;
    text-align: center;
    margin: 0 0 0 -5px;
    padding: 0;
}
.indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border:1px solid #929293;
    margin-left: 5px;
    cursor: pointer;
}
.indicators li.active{
    background-color: #929293;
}
.triangle{
    position: absolute;
    left: -60px;
    top: 255px;
    width: 0;
    height: 0;
    border-width:20px 30px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #ffffff;
    z-index: 2;
}
.ear ul{
    margin: 0;
    padding: 0;
}
.ear li{
    float: left;
    width: 33.33%;
    height: 350px;
    padding-top: 170px;
    position: relative;
}
.ear p{
    text-align: center;
    font-size: 21px;
    font-family: '黑体';
}
.ear a{
    width: 170px;
    height: 45px;
    display: block;
    text-align: center;
    line-height: 45px;
    margin: 0 auto;
    text-decoration: none;
}
.ear li.one{
    background-color: #e74f4d;
}
.ear li.one p{
    color: #ffffff;
}
.ear li.one a{
    color: #ffffff;
    border: 1px solid #ffffff;
}
.ear li.two p{
    color: #323333;
}
.ear li.two a{
    color: #e74f4d;
    border: 1px solid #e74f4d;
}
.ear li.three{
    background: url(../img/pic08.jpg) no-repeat left top;
    background-size: cover;
}
.ear li.two .triangle{
    right: -60px;
    left: auto;
    top: 235px;
    border-left-color: #ffffff;
    border-right-color: transparent;
}
.volunteer{
    width: 1000px;
    margin: 0 auto 165px;

}
.volunteer .top{
    margin-top: 110px;
    margin-bottom: 85px;
}
.volunteer .top h2{
    text-align: center;
    font-size: 21px;
    color: #323333;
    font-family: '黑体';
    position: relative;
    line-height: 1.5;
}
.volunteer .top h2 span{
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #e74f4d;
    bottom: -2px;
    left: 50%;
    margin-left: -15px;
}
.volunteer .top p{
    margin: 0;
    text-align: center;
    color: #aaaaaa;
    font-size: 12px;
}
.volunteer-rule{
    font-family: 'SimHei';
    position: relative;
    margin-bottom: 65px;
}

.volunteer .left{
    margin-right: 714px;
}
.volunteer .right{
    float: right;
    width: 640px;
    height: 200px;
}
.volunteer-rule h3{
    font-size: 14px;
    color:rgba(35, 24, 21, .5);
}
.volunteer-rule p{
    font-size: 12px;
    color:rgba(35, 24, 21, .5);
}
.more{
    padding-left: 18px;
    position: absolute;
    color: #918b8a;
    right: 0;
    text-decoration: none;
    bottom: -20px;
}
.more span{
    position: absolute;
    left: 0;
    top: 8px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    z-index: 2;
}
.more .arrow2{ 
    z-index: 1;
    top: 9px;
    border-top-color: #918b8a;
}
.input-row .input{
    background-color: #ededee;
    width: 290px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}
.input-row .input input{
    width: 100%;
    height: 30px;
    border: 0;
    background: none;
    outline: none;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.h10{
    height: 10px;
}
 .textarea{
    position: relative;
    background-color:#ededee;
    padding: 10px;
    font-size: 12px;
    height: 150px;
}
 .textarea span{
    position: absolute;   
    color: rgba(35, 24, 21, .5);
    top: 12px;
    left: 10px;
}
.textarea textarea{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-indent: 12em;
    resize: none;
}
 .button{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:0;
    background-color: #ededef;
    outline: none;
    color: #323333;
}
.footer{
    padding: 45px 0 35px;
    background-color: #32353e;
    font-family: 'SimHei';
}
.footer h2{
    color: #ffffff;
   
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    line-height: 2;
    margin: 0;
}
.footer p{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin: 0;
}